*{
    margin: 0px; padding: 0px; box-sizing: border-box;}
/* INDEX */
.bodyindex{
    height:fit-content;
    background-image: url(/assets/MULTIMEDIA/Fondo\ Index.jpg);
    background-size: cover;
    font-family: 'Rock Salt', cursive;

}

.navproductos{
    opacity: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width:100%;
    border: 5px #c7ab2e9a double;
    border-radius: 50px;
}

.footerindex{
    margin-top: 80px;
    margin-bottom: 20px;
    width:100%;
    border: 5px #c7ab2e9a double;
    border-radius: 50px;
    text-align: center;
    background-color: #ebc1177a;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.BodyProd{
    height: 1500px;
    background-image: url(/assets/MULTIMEDIA/pexels-mikhail-nilov-7573934.jpg);
    background-size: auto;
    color: #615324;
    
}
.headerprod{
    margin-top: 10px;
    border: 5px double #c7ab2e9a;
    border-radius: 50px;
    text-align: center;
    background-color: #ebc1174b;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
}
.headerprod ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}


.contenedoresprod{
    height: max-content;
    margin: 25px;
    border: 5px double #c7ab2e9a;
    border-radius: 50px;
    background-color: #ebc1174b;
}

.contenedoresprod h2{
    text-align: center;
    text-decoration:underline;
}

.prod{
    /* border: 5px solid black; */
    width: min-content;
    height: min-content;
    margin-top: 25px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.prod img{
    border-radius: 25px;
    margin: 5px;
    height: 120px;
}
.proddescripcion{
    margin: 5px;
/* border: #C7AB2E solid 5px; */
}
.proddescripcion h2 p{
    height: 25px;
}
